In [4]:
test1='This is a test of the emergency text system'
f=open('test.txt','w')
f.write(test1)

43

In [5]:
f.close()

In [6]:
f=open('test.txt','r')
test2=f.read()

In [7]:
test2

'This is a test of the emergency text system'

In [8]:
test1==test2

True

In [1]:
import csv

In [7]:
rows=[['title','author','year'],
      ['The Weirdstone of Brisingamen','Alan Garner','1960'],
      ['Perdido Street Station','China Mieville','2000'],
      ['Thud!','Terry Pratchett','2005'],
      ['The Spellman Files','Lisa Lutz','2007'],
      ['Small Gods','Terry Pratchett','1992']]

In [9]:
with open('books.csv','w') as csvfile:
    f=csv.writer(csvfile)
    for i in rows:
        f.writerow(i)

In [10]:
import sqlite3

In [28]:
"""
4.	Use the sqlite3 module to create a 
SQLite database called books.db, and a table called books 
with these fields: 
title (text), author (text), and year (integer).
"""
sqliteconnection=sqlite3.connect('books.db')
cursor=sqliteconnection.cursor()
cursor.execute("DROP TABLE IF EXISTS books")
cursor.execute('create table books(title text, author text, year integer)')
print('the table has been created successfully')
sqliteconnection.commit()
#sqliteconnection.close()

the table has been created successfully

In [29]:
sqlite3.connect('books.db')

In [30]:

import pandas as pd
df=pd.read_csv('books.csv')
df.to_sql('books',sqliteconnection,if_exists='append',index=False)

5

In [31]:
sqliteconnection.execute('''select * from books''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Mieville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

In [39]:
#Ans 6
sqliteconnection.execute('''
select title from books order by title
''').fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

In [41]:
sqliteconnection.execute('''
select * from books order by year
''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Mieville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

In [42]:
#Ans 8
import sqlalchemy as sa

In [44]:
db=sa.create_engine(f'sqlite:///books.db')
pd.read_sql('select * from books',db)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Mieville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [45]:
pip install redis

Collecting redisNote: you may need to restart the kernel to use updated packages.

  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\chatu\anaconda3\lib\site-packages (from redis) (21.3)
Collecting async-timeout>=4.0.2
  Using cached async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\chatu\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\chatu\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [46]:
import redis

In [52]:
"""
9.	Install the Redis server and the Python redis library
(pip install redis) on your computer. 
Create a Redis hash called test with 
the fields count (1) and name ('Fester Bestertester'). 
Print all the fields for test.
"""
try:
    conn=redis.Redis(host='localhost', port=6379)
    conn.hmset('test',{'count':1,'name':'Fester Bestertester'})
    conn.hgetall('test')
except Exception as e:
    print(e)

C:\Users\chatu\AppData\Local\Temp\ipykernel_18624\4256247914.py:10: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [ ]:
conn.hincrby('test','count', 3)

In [ ]:
# 10. Increment the count field of test and print it.