Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [27]:
#Ans 1
def is_symmetrical(x):
    x=str(x)
    y=x[::-1]
    if x==y:
        return True
    else:
        return False

In [29]:
is_symmetrical(12567)

False

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [156]:
#Ans 2
def multiply_nums(x):
    x=x.split(sep=',')
    
    sum=1
    for i in x:
        sum=sum*int(i)
    return sum

In [157]:
multiply_nums("10, -2")

-20

In [119]:
x=("2, 3")

In [93]:
y=int(x.split()[1])
type(y)

int

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer

In [78]:
#Ans 3
def square_digits(x):
    sum=''
    for i in str(x):
        #print(i)
        
        sum=sum+str(int(i)**2)
    return sum

In [81]:
square_digits(3212)

'9414'

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [61]:
#Ans 4:
def setify(x):
    x=sorted(x)
    x=set(x)
    return list(x)

In [63]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [71]:
#Ans 5
def mean(x):
    sum=0
    for i in str(x):
        sum=sum+int(i)
    return int(sum/len(str(x)))

In [74]:
mean(666)

6